#settingsModal {
    position: fixed;
    z-index: 1000; /* höher als alles andere */
    top: 20%;
    left: 35%;
    width: 300px;
    background: var(--mode-background);
    color: var(--mode-writing);
    border: 1px solid var(--mode-writing);
    padding: 15px;
}
/* Alle Tab-Inhalte standardmäßig verstecken */
.tab {
    display: none;
}

/* Nur der aktive Tab wird angezeigt */
.tab.active {
    display: block;
}

/* Optional: etwas Abstand */
.settings-content {
    margin-top: 10px;
}
