:root {
    /* Mode colors (Light/Dark*/
    --mode-background: white;
    --mode-writing: black;

    /* Interactive */
    --color-headColor: red;
    --color-link: #4da3ff;

    /* Layout spacing */
    --page-padding: 24px;
    --page-padding-mobile: 16px;
}
